{% extends 'ppe/base.html' %}

{% block titre %} Login SGRF {% endblock titre %}

{% block content %}
    {% if error_message %}
        <p class="alert alert-danger">
            <strong>{{ error_message }}</strong>
        </p>
    {% endif %}

    <h3>Administration (SGRF)</h3>
    <br>

    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        <p>Admin login</p>
        {{ form.as_p }}
        <br>
        <input type="submit" value="Connecter" class="btn btn-success">
    </form>
{% endblock content %}