{% extends 'ppe/base.html' %}

{% block titre %}
Dépôt d'un dossier - étape 2:
{% endblock titre %}

<div name="content" class="content">
{% block content %}

<div name="contacts" class="container">
    <h3>Etape 2: Contacts</h3>
    <p class="fs-5"><br>PPE sur le bien-fonds no. <b>{{ localisation_ppe.nummai }}</b> du cadastre 
        de <b>{{ localisation_ppe.cadastre }}</b> - (Commune: {{ localisation_ppe.commune }})</p>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" value="{{ localisation_ppe }}" name="localisation_ppe">
        <div class="row">
            <div class="col">
                <fieldset class="form-group">
                    <legend>Personne de contact principale</legend>  
                    <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                    <div id="info_contact"> personne de contact principale est celle qui dépose<br> 
                        le dossier et recevra les résultats du contrôle. <br>
                        Il s'agit en principe de la personne qui dessine les plans.
                    </div>
                    {{ contact_form }}
                </fieldset>
            </div>
            <div class="col">
                <fieldset>
                    <legend>Signataire</legend>
                    <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                    <div id="info_signataire">
                        La personne signataire est obligatoirement un·e architecte inscrit·e <br>
                        au registre neuchâtelois des architectes ou un·e ingénieur-géomètre <br>
                        breveté·e du canton de Neuchâtel
                    </div>
                    {{ signataire_form }}
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <fieldset>
                    <legend>Adresse de facturation</legend>
                    <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                    <div id="info_accord">
                        Les frais du Service de la Géomatique et du Registre Foncier <br>
                        comprennent le contrôle de conformité du dossier aux directives <br>
                        cantonales en vigueur ainsi que l'attribution des numéros de <br>
                        bien-fonds aux unités juridiques
                    </div>
                    {{ facturation_form }}
                    <a href="https://www.ne.ch/autorites/DDTE/SGRF/mensuration/Pages/propriete_par_etages.aspx" target="blank">
                        Lien vers un modèle</a>
                </fieldset>
            </div>
            <div class="col">
                <fieldset>
                    <legend>Notaire</legend>
                    {{ notaire_form }}
                </fieldset>
            </div>
        <p class="red">* Les champs marqués d'un astérisque sont obligatoires</p>
        <input type="submit" value="Etape suivante >>" class="btn btn-success">
    </div>
    </form>

</div>
{% endblock content %}
</div>