{% extends 'ppe/base.html' %}

{% block titre %}
Etape 2: Détails du projet:
{% endblock titre %}

<div name="content" class="content">
{% block content %}
  <div name="contacts" class="container">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <h3>Etape 3: Type de dossier</h3>  
      {% if dossier_ppe %}
      <p class="fs-5"><br>PPE sur le bien-fonds <b>{{ dossier_ppe.nummai }}</b> du cadastre 
        de <b>{{ dossier_ppe.cadastre }}</b>
      </p>
         <form id="type_form" name="type_form" class="form-horizontal" method="post">
            {% csrf_token %}
            <section name="ppe_type" id="ppe_type">
            <label for="type_dossier">Type de dossier<sup>*</sup>:</label>
            <select  name="type_dossier" id="type_dossier" onchange="changeSectionDisplay()">
              <option value="" {% if mode != 'edit' %}selected{% endif %}>Choisir...</option>
              <option value="C" {% if mode and dossier_ppe.type_dossier == 'C' %}selected{% endif %}>Constitution</option>
              <option value="R" {% if mode and dossier_ppe.type_dossier == 'R' %}selected{% endif %}>Révision</option>
              <option value="M" {% if mode and dossier_ppe.type_dossier == 'M' %}selected{% endif %}>Modification</option>
            </select>
            <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
            <div id="info_type_dossier">
              <b>Constitution</b> : création d'une nouvelle PPE dans un bâtiment existant ou futur.<br>
              <b>Révision</b> : révision d'une PPE déjà inscrite au registre foncier.<br>
              <b>Modification</b> : modification du dossier PPE avant son inscription au registre foncier (constitution ou révision).        
              <br><br>
              Si votre projet prévoit de radier la PPE actuellement inscrite au RF pour la refaire à neuf, 
              sélectionnez l'option «Constitution».
            </div>
            </section>

            <section name="modification" id="modification"  {% if dossier_ppe.type_dossier != 'M' %}style="display:none"{% endif %}>
            <p>
            <div id="type_modification">
              <label for="login_code">Identifiant unique du dossier d'origine</label>
              <input type="text" name="login_code" id="login_code"><br>
              <input type="submit" value="Chercher le dossier" class="btn btn-success">
            </div>
            </p>
            </section>

            <section name="revison" id="revision"  {% if dossier_ppe.type_dossier != 'R' %}style="display:none"{% endif %}>
            <div id="type_revision">
              <p><br>
                Veuillez cocher la bonne réponse :<br>
                <div class="row">
                  <div class="col">
                  <p class="alert alert-success">La révision concerne uniquement des droits de jouissance.</p>
                  </div>
                  <div class="col">
                  <input type="radio" name="droits_jouissance" id="jouissance_oui" value="oui" {% if mode == 'edit' and dossier_ppe.revision_jouissances == 'oui' %}checked{% endif %} onchange="showJouissanceRemark()">
                  <label for="jouissance_oui">Oui</label>
                  <input type="radio" name="droits_jouissance" id="jouissance_non" value="non" {% if mode == 'edit' and dossier_ppe.revision_jouissances == 'non' %}checked{% endif %} onchange="showJouissanceRemark()">
                  <label for="jouissance_non">Non</label>
                  </div>
                </div>
                <div class="row" id="elements_rf" {% if mode == 'edit' and dossier_ppe.type_dossier == 'R' and dossier_ppe.revision_jouissances == 'non' %}style="display:block"
                  {% else %}style="display:none"{% endif %}>
                  <div class="col">
                  <p class="alert alert-success">
                    Les éléments qui figurent sur le plan de situation actuellement inscrit au registre foncier<br> 
                    (autres que des servitudes) restent identiques (bâtiments, places de parc, accès, murs, etc.)
                  </p>
                  </div>
                  <div class="col">
                  <input type="radio" name="elements_rf" id="rf_identique_oui" value="oui" {% if mode == 'edit' and dossier_ppe.elements_rf_identiques == 'oui' %}checked{% endif %} onchange="showElementsRFQuestions()">
                  <label for="rf_identique_oui">Oui</label>
                  <input type="radio" name="elements_rf" id="jrf_identique_non" value="non" {% if mode == 'edit' and dossier_ppe.elements_rf_identiques == 'non' %}checked{% endif %} onchange="showElementsRFQuestions()">
                  <label for="rf_identique_non">Non</label>
                  </div>
                </div>
                <div class="row" id="new_jouissance" {% if mode == 'edit' and dossier_ppe.type_dossier == 'R' and dossier_ppe.elements_rf_identiques == 'oui' %}style="display:block"
                  {% else %}style="display:none"{% endif %}>
                  <div class="col">
                  <p class="alert alert-success">
                    Il y a un droit de jouissance nouveau ou modifié sur le plan de situation
                  </p>
                  </div>
                  <div class="col">
                  <input class="val-middle" type="radio" name="new_jouissance" id="droit_jouissance_oui" value="oui" {% if mode == 'edit' and dossier_ppe.nouveaux_droits == 'oui' %}checked{% endif %} onchange="showNewJouissanceInfo()">
                  <label class="val-middle" for="droit_jouissance_oui">Oui</label>
                  <input class="val-middle" type="radio" name="new_jouissance" id="droit_jouissance_non" value="non" {% if mode == 'edit' and dossier_ppe.nouveaux_droits == 'non' %}checked{% endif %} onchange="showNewJouissanceInfo()">
                  <label class="val-middle" for="droit_jouissance_non">Non</label>
                  </div>
                </div>
                <div class="row alert alert-danger" id="droits_remark" name="droits_remark" style="display: none;">
                  Si la révision concerne uniquement des droits de jouissance, le contrôle du dossier par le SGRF n’est pas nécessaire.
                </div>
                <div class="row alert alert-warning" id="no_plan_remark" name="no_plan_remark" style="display: none;">
                  L’établissement d’un plan de situation n’est pas nécessaire pour ce dossier.
                </div>
                <div class="row alert alert-warning" id="jouissance_remark" name="jouissance_remark" style="display: none;">
                  Seuls les droits de jouissance sont à fournir pour l’établissement du plan de situation.
                </div>
              </p>
            </div>
            </section>

            <section name="constitution" id="constitution" 
              {% if mode == 'edit' and dossier_ppe.type_dossier == 'R' and dossier_ppe.elements_rf_identiques == 'non' %}style="display:block"
              {% else %}style="display:none"{% endif %}>
            <div id="type_constitution">
                <br>
                <div class="col">
                  <div id="ref_geoshop">
                    <label for="reference_geoshop">Référence geoshop*</label>
                    <input type="text" name="ref_geoshop" id="reference_geoshop">
                    <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                    <div id="info_reference_geoshop">
                      Référence de commande des données cadastrales
                    </div><br>
                  </div>
                </div>
                <div class="col">
                  <br>
                  <p class="alert alert-success">
                    Vous n'avez pas encore commandé les données cadastrales ? Vous pouvez les commander dans notre geoshop
                    à l'adresse <a href="https://sitn.ne.ch/geoshop" target="_sitn">https://sitn.ne.ch/geoshop</a>
                  </p>
                </div>
            </div>
          </section>

          {% if mode == 'edit' %}
          <input id="submit_btn" type="submit" value="Modifier" class="etape btn btn-success" style="display:none;">
          {% else %}
          <input id="submit_btn" type="submit" value="Etape suivante >>" class="etape btn btn-success" style="display:none;">
          {% endif %}
          <p class="red"><br><sup>*</sup>Les champs marqués d'un astérisque sont obligatoires</p>
        </div>
        </form>

    {% else %}
    <h5>Une erreur est survenue.</h5>
      <p>        
        <form class="form-horizontal" method="POST">
          {% csrf_token %}
            <label for="id_dossier">Veuillez indiquer le no. de dossier PPE</label>
            <input type="text" name="id_dossier" id ="id_dossier">
            <input type="submit" value="Chercher le dossier" class="btn btn-success">
        </form>
      </p>
    {% endif %}
  </div>

{% endblock content %}
</div>