{% extends 'ppe/base.html' %}

{% block titre %}
Dépôt d'un dossier:
{% endblock titre %}

<div name="content" class="content">
{% block content %}

<div name="carte" class="container">

    <h4>Etape 1 : Localisation</h4>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <p class="alert alert-danger">Un dossier PPE ne peut pas être soumis tant que les travaux
        de modification du parcellaire n'ont pas été effectués.
    </br>Pour ce faire, merci d'envoyer un e-mail avec votre demande à l'adresse
    <a href="mailto:didier.gyger@ne.ch">didier.gyger@ne.ch</a>
    </p>

    <form id="localisation_form" class="form-horizontal" action="/ppe/{{ form_action }}" method="post">
        {% csrf_token %}
        <div class="row">
            <p>
                Si votre projet ne nécessite pas de modification du parcellaire, 
                ou si ceux-ci ont déjà été effectués, veuillez cocher la case suivante :
            </p>
        {% if localisation_ppe %}
            <div class="col">
                <input type="checkbox" id="check_mutation"  onChange="showMap()" checked>
                <label for="check_mutation" class="alert alert-success">
                    Mon projet ne nécessite PAS de modification du parcellaire (ou celle-ci a déjà été effectuée)
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div name="mapwidget" id="mapwidget">
                    Veuillez localiser le bien-fonds sur la carte par un simple clic.
                    <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                    <div id="info_localisation">Un dossier PPE doit concerner un seul bien-fonds.</div>
                    {{ form }}
                </div>
            </div>
            <div class="col" id="localisation_overview" name="localisation_overview">
                <h5>Localisation sélectionnée</h5>
                <p><b>Commune</b>: {{ localisation_ppe.commune }}</p>
                <p><b>Cadastre</b>: {{ localisation_ppe.cadastre }}</p>
                <p><b>Bien-fonds</b>:  {{ localisation_ppe.nummai }}</p>
                <p>
                    Pour <i>confirmer</i> cette localisation, cliquez sur <b>« Etape suivante »</b>.
                </p>
                <p>
                    Pour <i>réinitialiser la localisation</i>, cliquez sur 
                    <b><nbr>« Supprimer toutes les localisations »</nbr></b> en dessous de la carte,
                    choissisez le nouvel emplacement et cliquez sur <i>Revalider l'emplacement</i> 
                    puis sur <b>« Etape suivante » si le nouveau choix convient.</b>
                </p>
                <button id="geo_validation" onclick="changeLocalisationFormAction()" class="btn btn-primary">Revalider l'emplacement</button>
            </div>
            <input type="submit" value="Etape suivante" class="btn btn-success">
    {% else %}
            <div class="col">
                <input type="checkbox" id="check_mutation"  onclick="showMap()">
                <label for="check_mutation" class="alert alert-success">
                    Mon projet ne nécessite PAS de modification du parcellaire (ou celle-ci a déjà été effectuée)
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div name="mapwidget" id="mapwidget" style="display:none">
                    <p>Veuillez localiser l'emplacement de la PPE sur la carte</p>
                        {{ form }}
                    <input type="submit" value="Valider l'emplacement" class="btn btn-success">
                </div>
            </div>
    {% endif %}
    </div>
</form>
</div>

</div>
{% endblock content %}
</div>
