{% extends 'ppe/base.html' %}

{% block titre %}
Dépôt d'un dossier:
{% endblock titre %}

<div name="contenu" class="contenu">
{% block contenu %}

<div name="carte" class="container">
    <h3>Dépôt d'un dossier - étape 1</h3>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    <p>Veuillez localiser l'emplacement de la PPE sur la carte</p>
    <form class="form-horizontal">
        {{ form }}
        <input type="submit" value="étape suivante" class="btn btn-success">
    </form>
    {% else %}
    <p>Une erreur inconnue est survenue</p>
    {% endif %}
</div>
{% endblock contenu %}
</div>