{% extends 'ppe/base.html' %}

{% block titre %}
Application de gestion des PPE
{% endblock titre %}

{% block contenu %}
<div name="contenu" class="container">
    
    <h2>Bienvenue sur l'application de gestion numérique des dossiers PPE</h2>

    <form name="choix" action="{% url 'ppe:confirmation' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend><h3>Veuillez choisir une action:</h3></legend>
                <input type="radio" name="choix" id="choix1" value="depot">
                <label for="choix1">Dépot d'un dossier</label><br>
                <input type="radio" name="choix" id="choix2" value="modification">
                <label for="choix2">Modification d'un dossier</label><br>
        </fieldset>
        <input type="submit" value="envoyer">
    </form>
    </br>
    <h3>Plus d'informations quant à la constitution d'un dossier PPE:</h3>
    <p><a href="https://www.ne.ch/autorites/DDTE/SGRF/mensuration/Pages/propriete_par_etages.aspx" target="blank">Documentation sur les pages du SGRF</a></p>
    <h4>Liste des dossiers PPE en cours</h4>
{% if latest_dossiers_list %}
    <ul>
    {% for dossierppe in latest_dossiers_list %}
        <li><a href="{% url 'ppe:detail' dossierppe.id %}">Dossier PPE no. {{ dossierppe.id }}, du {{ dossierppe.date_creation }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No dossiers are available.</p>
{% endif %}
</div>
{% endblock contenu %}