{% extends 'ppe/base.html' %}

{% block titre %}
Application de gestion des PPE
{% endblock titre %}

{% block contenu %}
<div name="contenu" class="container">
    
    <h2>Bienvenue sur l'application de gestion numérique des dossiers PPE</h2>

    <h4>Veuillez choisir une action:</h4>

    <p>
        <a href="{% url 'ppe:geolocalisation' %}" class="btn btn-success">Dépot d'un dossier</a>
        <a href="{% url 'ppe:modification' %}" class="btn btn-success">Modification d'un dossier</a>
    </p>

    </br>
    <h4>Plus d'informations quant à la constitution d'un dossier PPE:</h4>
    <p><a href="https://www.ne.ch/autorites/DDTE/SGRF/mensuration/Pages/propriete_par_etages.aspx" target="blank">Documentation sur les pages du SGRF</a></p>
    </br>
    
    <h4>Liste des dossiers PPE en cours</h4>
{% if latest_dossiers_list %}
    <ul>
    {% for dossierppe in latest_dossiers_list %}
        <li><a href="{% url 'ppe:detail' dossierppe.id %}">Dossier PPE no. {{ dossierppe.id }}, du {{ dossierppe.date_creation }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No dossiers are available.</p>
{% endif %}
</div>
{% endblock contenu %}