{% extends 'ppe/base.html' %}

{% block titre %}
Dépôt d'un dossier:
{% endblock titre %}

<div name="content" class="content">
    {% block content %}
    
        <div name="contacts" class="container">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>
            {% endif %}

            <h3>Étape 4 : Chargement des fichiers</h3>
            <p class="fs-5"><br>PPE sur le bien-fonds <b>{{ dossier_ppe.nummai }}</b> du cadastre 
                de <b>{{ dossier_ppe.cadastre }}</b>
            </p>
            {% if zipfile %}
            <div id="zip_confirmation" name="zip_confirmation">
                <p>La saisie de votre dossier est maintenant terminée.</p>
                <p>Le ZIP {{ zipfile.zipfile }} a été déposé pour vérification ({{ zipfile.id }})</p>
                <p>
                    Une vérification automatique de vos données est actuellement en cours, 
                    un compte-rendu vous sera envoyé par e-mail à l'adresse {{ dossier_ppe.contact_principal.email }} d'ici xx minutes.
                </p>
                <p>
                    Toutes les erreurs bloquantes découvertes devront être corrigées, 
                    et les fichiers soumis à nouveau.
                </p>
                <p>Une fois toutes les erreurs bloquantes corrigées, votre dossier poursuivra 
                    automatiquement sa route chez l'un de nos collaborateurs.</p>
                <p>Si vous souhaitez modifier votre dossier, cliquer sur «Etape précédente».
                </p>
                <p>Le statut de votre dossier est actuellement : VERIFICATION AUTOMATIQUE EN COURS</p>
            </div>
            {% else %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend>Dossier *.zip</legend>  
                    {{ zip_form }}
                    <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
                    <div id="info_zip">
                        Dossier .zip contenant tous les fichiers nécessaires, <br> 
                        structuré selon les directives établies par notre service, consultables 
                        <a href="https://www.ne.ch/autorites/DDTE/SGRF/mensuration/Pages/propriete_par_etages.aspx" target="blank">ici</a>
                    </div>
                    <br><br>
                    <div>
                        <a href="{% url 'ppe:overview' %}" class="btn btn-success">Modifier une information du dossier</a>
                        <input type="submit" value="Soumettre le dossier pour contrôle" class="btn btn-success">
                    </div>
                </fieldset>
            </form>
            {% endif %}
        </div>
    {% endblock content %}
</div>