{% extends 'ppe/base.html' %}

{% block titre %}
Étape 4 : chargement du dossier zip
{% endblock titre %}


{% block content %}
<main class="col-12 col-md-9 col-lg-9 p-4 text-start">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <h3>Étape 4 : chargement du dossier zip</h3>
    <p class="fs-5"><br>PPE sur le bien-fonds <b>{{ dossier_ppe.nummai }}</b> du cadastre 
        de <b>{{ dossier_ppe.cadastre }}</b>
    </p>
    {% if zipfile %}
    <div id="zip_confirmation" name="zip_confirmation">
        <p>La saisie de votre dossier est maintenant terminée.</p>
        <p>Le ZIP {{ zipfile.path }} a été déposé pour vérification ({{ zipfile.id }})</p>
        <p>
            Une vérification automatique de vos données est actuellement en cours, 
            un compte-rendu vous sera envoyé par e-mail à l'adresse 
            <a href="mailto:{{ dossier_ppe.contact_principal.email }}?Subject=Dossier PPE" target="blank">{{ dossier_ppe.contact_principal.email }}</a> d'ici xx minutes.
        </p>
        <p>
            Toutes les erreurs bloquantes découvertes devront être corrigées, 
            et les fichiers soumis à nouveau.
        </p>
        <p>Une fois toutes les erreurs bloquantes corrigées, votre dossier poursuivra 
            automatiquement sa route chez l'un de nos collaborateurs.</p>
        {% if "A" in zipfile.file_statut or "P" in zipfile.file_statut or "E" in zipfile.file_statut %}
        <p>Si vous souhaitez modifier votre dossier, cliquer sur «Modifier».
        {% endif %}
        </p>
        <p>Le statut de votre dossier est actuellement : 
            {% if zipfile.file_statut == 'A' %}
                <b>Dossier remplacé et archivé</b>
            {% elif zipfile.file_statut == 'C' %}
                Vérification automatique en cours
            {% elif zipfile.file_statut == 'E' %}
                Erreurs bloquantes à corriger
            {% elif zipfile.file_statut == 'V' %}
                Dossier validé. Il n'est plus possible de le modifier
            {% else %}
                <b>Préparation du dossier - En attente du contrôle automatique</b>
            {% endif %}
        </p>
        {% if "A" in zipfile.file_statut or "P" in zipfile.file_statut or "E" in zipfile.file_statut %}
            <div>
                <a href="{% url 'ppe:overview' %}" class="btn btn-success">Récapitulatif</a>
            </div>
        {% endif %}
    </div>
    {% else %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Dossier *.zip</legend>  
            {{ zip_form }}
            <i class="bi bi-info-circle-fill" style="color: cornflowerblue;"></i>
            <div id="info_zip">
                Dossier .zip contenant tous les fichiers nécessaires, <br> 
                structuré selon les directives établies par notre service, consultables 
                <a href="https://www.ne.ch/autorites/DDTE/SGRF/mensuration/Pages/propriete_par_etages.aspx" target="blank">ici</a>
            </div>
            <br><br>
            <div>
                <a href="{% url 'ppe:overview' %}" class="btn btn-success">Récapitulatif</a>
                <input type="submit" value="Soumettre le dossier pour contrôle" class="btn btn-success">
            </div>
        </fieldset>
    </form>
    {% endif %}
    <p class="red"><br>* Les champs marqués d'un astérisque sont obligatoires</p>
</main>
{% endblock content %}