{% extends 'ppe/base.html' %}

{% block titre %}
Dépôt d'un dossier - Récapitulatif:
{% endblock titre %}

{% block content %}
<main class="col-12 col-md-9 col-lg-9 p-4 text-start">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>

    {% elif dossier_ppe %}
    <h3>Récapitulatif</h3>

    <div class="row">
        <div class="col">
            <section>
                <br>
                <table width="100%">
                <tr>
                    <th class="fs-4" width="30%">Localisation</th><th><a href="{% url 'ppe:edit_geolocalisation' %}" class="btn btn-success">Modifier</a></th>
                </tr>
                <tr class="fs-5"><td>Cadastre</td><td><b>{{ dossier_ppe.cadastre }}</b></td></tr>
                <tr class="fs-5"><td>Bien-fonds</td><td><b>{{ dossier_ppe.nummai }}</b></td></tr>
                </table>
            </section>

        <section>
            <br>
            <table width="100%">
            <tr>
                <th class="fs-4" width="30%">Contacts</th>
                <th><a href="{% url 'ppe:edit_contacts' %}" class="btn btn-success">Modifier</a></th>
            </tr>
                <td colspan="2" class="fs-5 fw-bold">Personne de contact principal</td>
            <tr>
                <td colspan="2">{{ dossier_ppe.contact_principal.nom}} {{ dossier_ppe.contact_principal.prenom }}</td>
            </tr><tr>
                    {%if dossier_ppe.contact_principal.raison_sociale %}
                    <td>Raison sociale :</td><td>{{ dossier_ppe.contact_principal.raison_sociale }}</td>
                    {% endif %}
            </tr><tr>
                    <td colspan="2" >{{ dossier_ppe.contact_principal.no_tel }}</td>
            </tr><tr>
                    <td colspan="2" >{{ dossier_ppe.contact_principal.email }}</td>
            </tr>
            </table>
        </section>

        <section>        
            <p class="fs-5 fw-bold">Notaire</p>
            <p>
                Me {{ dossier_ppe.notaire.nom}} {{ dossier_ppe.notaire.prenom }}</br>
                {%if dossier_ppe.notaire.raison_sociale %}
                {{ dossier_ppe.notaire.raison_sociale }}</br>
                {% endif %}
                {%if dossier_ppe.notaire.complement %}
                {{ dossier_ppe.notaire.complement }}</br>
                {% endif %}
                {{ dossier_ppe.notaire.rue }} {{ dossier_ppe.notaire.no_rue }}</br>
                {{ dossier_ppe.notaire.npa }} {{ dossier_ppe.notaire.localite }}</br>
            </p>
        </section>

        <section>
            <p class="fs-5 fw-bold">Signataire</p>
            <p>
                {{ dossier_ppe.signataire.nom}} {{ dossier_ppe.signataire.prenom }}</br>
                {%if dossier_ppe.signataire.raison_sociale %}
                {{ dossier_ppe.signataire.raison_sociale }}</br>
                {% endif %}
                {%if dossier_ppe.signataire.complement %}
                {{ dossier_ppe.signataire.complement }}</br>
                {% endif %}
                {{ dossier_ppe.signataire.rue }} {{ dossier_ppe.signataire.no_rue }}</br>
                {{ dossier_ppe.signataire.npa }} {{ dossier_ppe.signataire.localite }}</br>
            </p>
        </section>

        <section>
            <p class="fs-5 fw-bold">Adresse de facturation</p>
            <p>
                {{ dossier_ppe.adresse_facturation.type_personne }}</br>
                {{ dossier_ppe.adresse_facturation.nom_raison_sociale}} {{ dossier_ppe.adresse_facturation.prenom }}</br>
                {%if dossier_ppe.adresse_facturation.complement %}
                {{ dossier_ppe.adresse_facturation.complement }}</br>
                {% endif %}
                {{ dossier_ppe.adresse_facturation.rue }} {{ dossier_ppe.adresse_facturation.no_rue }}</br>
                {{ dossier_ppe.adresse_facturation.npa }} {{ dossier_ppe.adresse_facturation.localite }}</br>
                <i>Chemin vers le fichier: {{ dossier_ppe.adresse_facturation.file }}</br></i>
            </p>
        </section>
        </div>
                
        {%if dossier_ppe.type_dossier %}
        <div class="col">
        <br>
        <section>
            <table width="100%">
            <tr>
                <th class="fs-4" width="30%">Type de dossier</th><th><a href="{% url 'ppe:edit_ppe_type' %}" class="btn btn-success">Modifier</a></th>
            </tr>
            <tr>
                <td>Type de dossier :</td>
                <td>
                    {% if dossier_ppe.type_dossier == 'C' %}
                    Constitution
                    <br>Réf. géoshop: {{ dossier_ppe.ref_geoshop }}
                    {% elif dossier_ppe.type_dossier == 'R' %}
                    Révision
                    <br>{{ dossier_ppe.revision_jouissances }}
                    <br>{{ dossier_ppe.elements_rf_identiques }}
                    <br>{{ dossier_ppe.nouveaux_droits }}
                    <br>Réf. géoshop: {{ dossier_ppe.ref_geoshop }}
                    {% else %}
                    Modification
                    {% endif %}
                </td>
            </tr>
            </table>
        </section>
        {% endif %}

        {%if dossier_ppe.zipfiles %}
        <section>
            <br>
            <table width="100%">
            <tr>
                <th class="fs-4" width="25%">Chargement des fichiers</th>
                <th><a href="{% url 'ppe:edit_zipfile' %}" class="btn btn-success">Modifier</a></th>
            </tr>
            <tr>
                <td width="30%"><b>Date</b></td><td><b>Statut des fichiers</b></td>
            </tr>
            {% for zip in dossier_ppe.zipfiles %}
            <tr>
                <td>{{ zip.upload_date }}</td>
                <td>
                {% if zip.file_statut == 'A' %}
                Dossier remplacé et archivé
                {% elif zip.file_statut == 'C' %}
                Vérification automatique en cours
                {% elif zip.file_statut == 'E' %}
                Erreurs bloquantes à corriger
                {% elif zip.file_statut == 'P' %}
                En attente du contrôle automatique
                {% elif zip.file_statut == 'V' %}
                Dossier validé. Il n'est plus possible de le modifier
                {% else %}
                Il y a une erreur inconnue sur le statut des fichiers zip
                {% endif %}
                </td>
            </tr>
            {% endfor %}
            </table>
        </section>
        {% endif %}
    </div>

    <p> 
        <form id="overview_form" class="form-horizontal" action="/ppe/soumission" method="post">
            {% csrf_token %}
            <input type="submit" value="Continuer" class="valider btn btn-success">
        </form> 
    </p>

    {% else %}
    <p>Une erreur inconnue est survenue</p>
    {% endif %}

</main>
{% endblock content %}