{% extends 'ppe/base.html' %}

{% block titre %}
Soumission dossier
{% endblock titre %}

{% block content %}
<main class="col-12 col-md-9 col-lg-9 p-4 text-start">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if dossier_ppe %}
    <h3>Votre code personnel</h3>

    <p class="fs-5"><br>PPE sur le bien-fonds <b>{{ dossier_ppe.nummai }}</b> du cadastre 
        de <b>{{ dossier_ppe.cadastre }}</b>
    </p>
    <p>        
        Votre dossier a bien été enregistré. Veuillez trouver ci-dessous le code unique vous 
        permettant de modifier ultérieurement votre dossier.
    </p>

    <p>
        Un e-mail contenant ce code a été envoyé à l'adresse suivante : {{ dossier_ppe.contact_principal.email }}
    </p>

    <h2 id="login_code">{{ dossier_ppe.login_code }}</h2>

    <a href="{% url 'ppe:load_ppe_files' %}" class="valider btn btn-success">Continuer</a>
    {% endif %}

</main>
{% endblock content %}