# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.env
.env.local
.env.prepub
.env.prod
.env.dev
.venv
/venv

#uploaded files
/data
/ppe/files

# Templated files
/development.ini
/production.ini

# Django stuff:
*.log
assets
local_settings.py
db.sqlite3
db.sqlite3-journal

#internal and temporary documentation items
app.quickdatabasediagrams.com.txt
new_style_css.txt
Modele_documents_manquants.pdf