services:
  ppe_numerique:
    networks:
      - default
    restart: unless-stopped
    build: .
    image: ${DOCKER_BASE}
    # TODO: gunicorn!
    command: ${DOCKER_CMD}
    volumes:
      - ${VOLUME_PATH}:/data:rw
    ports:
      - ${EXTERNAL_PORT}:8000
    environment:
      - TZ=Europe/Zurich
      - PGHOST=${PGHOST:-host.docker.internal}
      - PGDB=${PGDB:-ppe_numerique}
      - PGSCHEMA=${PGSCHEMA:-ppe}
      - PGPORT=${PGPORT:-5432}
      - PGUSER=${PGUSER:-usr}
      - PGPASSWORD=${PGPASSWORD:-pwd}
      - GEOSHOPHOST=${GEOSHOPHOST:-host.docker.internal}
      - GEOSHOPDB=${GEOSHOPDB:-geoshop}
      - GEOSHOPSCHEMA=${GEOSHOPSCHEMA:-geoshop}
      - GEOSHOPPORT=${GEOSHOPPORT:-5432}
      - GEOSHOPUSER=${GEOSHOPUSER:-usr}
      - GEOSHOPPASSWORD=${GEOSHOPPASSWORD:-pwd}
      - MEDIA_ROOT=/data
      - MEDIA_URL=/data/