services:
  apps:
    image: ${DOCKER_BASE}
    build:
      context: .
      args:
        ENV_FILE: ${ENV_FILE}
    env_file: ${ENV_FILE}
    command: "./startup.sh"
    restart: unless-stopped
    ports:
      - "${DOCKER_PORT}:8000"
    volumes:
      - ${UPLOAD_DATA_PATH}:/data:rw #remplacer par ppe dans l'app
