services:
  ppe_numerique:
    networks:
      - default
    restart: unless-stopped
    build: .
    image: sitn/${COMPOSE_PROJECT_NAME}
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ${VOLUME_PATH}:/data
    ports:
      - ${EXTERNAL_PORT}:8000
    environment:
      - TZ=Europe/Zurich
      - PGHOST=${PGHOST:-host.docker.internal}
      - PGDB=${PGDB:-ppe_numerique}
      - PGSCHEMA=${PGSCHEMA:-ppe}
      - PGPORT=${PGPORT:-5432}
      - PGUSER=${PGUSER:-usr}
      - PGPASSWORD=${PGPASSWORD:-pwd}
      - GEOSHOPHOST=${GEOSHOPHOST:-host.docker.internal}
      - GEOSHOPDB=${GEOSHOPDB:-geoshop}
      - GEOSHOPSCHEMA=${GEOSHOPSCHEMA:-geoshop}
      - GEOSHOPPORT=${GEOSHOPPORT:-5432}
      - GEOSHOPUSER=${GEOSHOPUSER:-usr}
      - GEOSHOPPASSWORD=${GEOSHOPPASSWORD:-pwd}