Django==5.2.7
django-computedfields
django-cors-headers
django-extended-ol
django-fast-update
django-geojson
django-revproxy
djangorestframework==3.16.1
djangorestframework-gis
drf-spectacular
drf-spectacular-sidecar
oracledb
phonenumbers
python-dotenv
psycopg[binary]
pip-tools
python-dotenv
whitenoise
openpyxl
requests