<!DOCTYPE html>
<html lang="fr-CH">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Service forest_forpriv</title>
  <link rel="stylesheet" href="https://sitn.ne.ch/sitnstatic/sitn-bootstrap@v5.2.3/sitn-bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
  <style>
    code {
      background-color: rgba(200, 200, 200);
      color: black;
      border-radius: 0.2em;
      padding: 0 0.3em;
      font-family: 'Consolas', monospace;
    }

    .w-15 {
      width: 15%;
    }

    .w-40 {
      width: 40%;
    }

    table td.middle {
      vertical-align: middle;
    }
  </style>
</head>
<div class="container">
  <header class="header">
    <img alt="Logo neuchâtel" src="https://sitn.ne.ch/static/0/images/banner_right.png">
  </header>

  <h1>Description du service "/forest_forpriv"</h1>
  <section id="intersection">
    <h3>/intersection <span class="badge rounded-pill text-bg-success">POST</span></h3>

    <p>
      Service d'intersection de couches pour l'application forpriv. Le body doit être de type
      <code>application/json</code> et doit être un <a href="https://fr.wikipedia.org/wiki/GeoJSON">GeoJSON</a> valide.
    </p>
    <h6>Règles à prendre en considération:</h6>
    <ul>
      <li>Seule la première feature sera utilisée pour l'intersection</li>
      <li>La première feature peut être de type <code>Polygon</code> ou <code>MultiPolygon</code></li>
      <li>Toute <code>properties</code> supplémentaire est acceptée mais ignorée</li>
    </ul>
    <details>
      <summary>Exemple de GeoJSON</summary>
      <pre><code class="language-json">{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "bbox": [
        2532795.62,
        1195938.131,
        2533166.178,
        1196314.429
      ],
      "id": 10918,
      "geometry": {
        "type": "MultiPolygon",
        "coordinates": [[[[2533111.071, 1196095.553], [2533166.178, 1196168.023], [2533144.771, 1196208.56], [2533120.983, 1196284.003], [2533111.391, 1196314.429], [2533106.282, 1196312.786], [2533072.832, 1196297.86], [2533068.196, 1196153.157], [2533031.498, 1196133.478], [2532989.64, 1196110.825], [2532966.581, 1196089.578], [2532945.071, 1196069.541], [2532906.816, 1196060.883], [2532853.523, 1196049.351], [2532844.67, 1196010.559], [2532813.399, 1196006.801], [2532795.62, 1196006.871], [2532804.194, 1195975.341], [2532826.715, 1195960.851], [2532865.829, 1195938.131], [2533052.943, 1195961.941], [2533053.935, 1195971.965], [2533012.621, 1195971.39], [2533011.653, 1196027.124], [2533011.342, 1196045.081], [2533033.098, 1196049.493], [2533055.602, 1196054.342], [2533088.187, 1196065.274], [2533131.752, 1196071.669], [2533111.071, 1196095.553]]]]
      },
      "properties": {
        "label": "1630 Saint-Sulpice (EGRID : CH790877636801)",
        "layer_name": "ImmeublesCanton",
        "actions": [
          {
            "action": "add_layer",
            "data": "ImmeublesCanton"
          }
        ]
      }
    }
  ]
}</code></pre>
    </details>
    <h4>Contenu de la réponse</h4>
    <p>La réponse sera un GeoJSON contenant:</p>
    <ul>
      <li>
        Au moins un <code>MultiPolygon</code> issu de la couche <code>fo01_arrondissements</code> avec les
        propriétés suivantes:
        <ul>
          <li><code>inspecteur</code>: l'inspecteur en charge de l'arrondissement</li>
          <li><code>table_name</code>: le nom de la table en question</li>
        </ul>
      </li>
      <li>
        Au moins un <code>MultiPolygon</code> issu de la couche <code>fo02_cantonnements</code> avec les
        propriétés suivantes:
        <ul>
          <li><code>titulaire</code>: le titulaire du cantonnement</li>
          <li><code>email</code>: l'adresse email du titulaire</li>
          <li><code>table_name</code>: le nom de la table en question</li>
        </ul>
      </li>
      <li>
        Au moins un <code>MultiPolygon</code> issu de la couche <code>fo11_unite_gestion_forprivees</code> avec
        les propriétés suivantes:
        <ul>
          <li><code>table_name</code>: le nom de la table en question</li>
        </ul>
      </li>
    </ul>
  </section>
  <hr>
  <section id="search">
    <h3>/search <span class="badge rounded-pill text-bg-success">GET</span></h3>

    <p>
      Service de recherche retournant la géométrie et l'idmai d'un bien-fonds. La recherche peut être faite sur le numéro de bien-fonds ou sur son EGRID. On peut accessoirement inclure le nom du cadastre pour affiner la recherche.
    </p>
    <h6>Paramètres acceptés:</h6>
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="w-15">Nom</th>
          <th>Description</th>
          <th class="w-40">Exemple</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>query</code></td>
          <td>terme de recherche, insensible à la casse et aux diacritiques.</td>
          <td>
            <a target="_blank" href="{{ request.path }}search?query=159">/forest_forpriv/search?query=159</a>
          </td>
        </tr>
      </tbody>
    </table>

    <h4>Contenu de la réponse</h4>
    <p>La réponse sera un GeoJSON.</p>
    <p>
      L'<code>idmai</code> est disponible dans les <code>properties</code> de chaque <code>feature</code>.
    </p>
  </section>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/json.min.js"></script>
<script>hljs.highlightAll();</script>
</body>

</html>