body {
  width: 100%;
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

/*div {
  border: 1px solid #990000;
}*/

header {
  width: 100%;
  height: 85px;
  font-size: clamp(20px, 5vw, 48px);
  font-weight: bold;
  color: white;
  text-align: left;
  background-color:lightseagreen ;
  border-bottom: 1 px solid grey;
  /*position: sticky;*/
  top: 0;
  z-index: 1020; /* ensures it's above content */
}

nav .nav-link {
  font-size: smaller;
  padding: 0.5rem 1rem;
}

footer {
  font-size: 0.875rem;
  text-align: right;
  padding: 0.5rem 1rem;
}

section {
  padding: 0px 2px;
}

section label {
  width: 175px;
  padding: 0px 0px 2px 0px;
}

section select {
  width: 188px;
  padding: 0px 0px 2px 0px;
}

fieldset label {
  width: 175px;
  padding: 0px 0px 2px 0px;
}

fieldset select {
  width: 188px;
  padding: 0px 0px 2px 0px;
}

i {
 clear: none;
 font-size: .9em;
}

li a {
    color: green;
}

/* CLASSES ONLY STYLES */
.button {
  width: 120px;
}

.button-lg {
  width: 250px;
}

.content{
    padding: 10px 5px 10px 5px;
}

.dj_map {
    width: 700px;
    height: 500px;
    border: 1px solid darkgrey;
    clear: both;
}

.drapeau {
  float: right;
  font-size: 9px;
  text-align: center;
}

.etape {
text-align: right;
}

.layout{
    height: 100vh;
}

/* Form fields placeholder style *hack* */
.placeholder {
  background-color: white !important;
  color: #aaa;
  transition: background-color 5000s ease-in-out 0s;
}
.placeholder::placeholder {
  font-size: 0.8em;
  color: #aaa;
  box-shadow: None;
  background-color: white;
}
.placeholder::-moz-placeholder{
  font-size: 0.8em;
  color: #aaa;
  box-shadow: None;
  background-color: white;
}
.placeholder::-webkit-input-placeholder{
  font-size: 0.8em;
  color: #aaa;
  box-shadow: None;
  background-color: white;
}
input:-webkit-autofill {
    background-color: white !important;
    -webkit-box-shadow: None !important;
    box-shadow: None !important;
    transition: background-color 5000s ease-in-out 0s;
}

.red {
    color: #990000;
}

.sidebar {
  height: calc(100vh - 85px);
  max-width: 250px;
  min-width: 100px;
}

.valider {
  width: 120px;
  float: right;
}

.val-middle {
  vertical-align: middle;
}

div.entete a:link#home {
    color: white !important;
    text-decoration: none !important;
}

div.entete a:visited#home {
    color: white !important;
    text-decoration: none !important;
}

div.entete a:hover#home {
    color: white;
  }

div.entete a:active#home {
    color: white;
  }

h2#login_code {
  text-align: center;
  padding: 20px;
}

#background-selector {
    position: absolute;
    z-index: 2;
    top: .5rem;
    left: 3.1em;
    height: 2.95rem;
    font-size: 1rem;
    padding: 0.7rem;
}

span#info_geoloc {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    color: white;
    background-color: cornflowerblue;
    border: 1px solid black;
  }
  
i:hover + span#info_geoloc {
    position: absolute;
    display: inline-block;
}

div#info_contact {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid black;
}
  
i:hover + div#info_contact {
    position: absolute;
    display: inline-block;
  }
    
div#info_signataire {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid black;
}

i:hover + div#info_signataire {
    position: absolute;
    display: inline-block;
}

div#info_accord {
  display: none;
  margin-left: 5px;
  padding: 5px;
  font-size: small;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid black;
  }
  
i:hover + div#info_accord {
    position: absolute;
    display: inline-block;
  }
  
div#info_zip {
  display: none;
  margin-left: 5px;
  padding: 5px;
  font-size: small;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid black;
  }
  
i:hover + div#info_zip {
    position: absolute;
    display: inline-block;
  }
  
div#info_type_dossier {
  position: absolute;
  z-index: 99;
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid black;
  }

i:hover + div#info_type_dossier {
    z-index: 99;
    position: absolute;
    display: inline-block;
}

div#info_reference_geoshop {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid black;
}

i:hover + div#info_reference_geoshop {
    position: absolute;
    display: inline-block;
}

div#info_soumission {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  color: white;
  background-color: cornflowerblue;
  border: 1px solid black;
}

i:hover + div#info_soumission {
  position: absolute;
  display: inline-block;
}

div#info_modification {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  background-color: lightblue;
  border: 1px solid cornflowerblue; 
}

i:hover + div#info_modification {
  position: absolute;
  display: inline-block;
}

/* Deactivate WMTSWidget elements */
span.clear_features {
    display: none;
}

ul.errorlist {
    display: none;
}

label#id_geom {
  display:none;
}