body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 254, 177);
}

div {
    padding: 5px;
}

div.entete {
    border-bottom: 1 px solid grey;
}

li a {
    color: green;
}

.dj_map {
    width: 400px;
    height: 400px;
}

#background-selector {
    position: absolute;
    z-index: 2;
    top: .5rem;
    left: 3.1em;
    height: 2.95rem;
    font-size: 1rem;
    padding: 0.7rem;
}