body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}


div.contenu {
    padding: 5px;
}

div.entete {
    width: 100%;
    height: 80px;
    font-size: 36pt;
    font-weight: bold;
    color: white;
    text-align: left;
    background-color:lightseagreen ;
    border-bottom: 1 px solid grey;
}

section {
  padding: 0px 2px;
}

fieldset label {
  width: 175px;
  padding: 0px 0px 2px 0px;
}

fieldset select {
  width: 188px;
  padding: 0px 0px 2px 0px;
}

section label {
  width: 175px;
  padding: 0px 0px 2px 0px;
}

section select {
  width: 188px;
  padding: 0px 0px 2px 0px;
}

.val-middle {
  vertical-align: middle;
}

li a {
    color: green;
}

.content{
    padding: 10px 5px 10px 5px;
}

.red {
    color: #990000;
}

.etape {
text-align: right;
}

.dj_map {
    width: 700px;
    height: 500px;
    border: 1px solid darkgrey;
    clear: both;
}

div.entete a:link#home {
    color: white !important;
    text-decoration: none !important;
}

div.entere a:visited#home {
    color: white !important;
    text-decoration: none !important;
}

div.entete a:hover#home {
    color: white;
  }

div.entete a:active#home {
    color: white;
  }

#background-selector {
    position: absolute;
    z-index: 2;
    top: .5rem;
    left: 3.1em;
    height: 2.95rem;
    font-size: 1rem;
    padding: 0.7rem;
}

i {
 clear: none; 
}

div#info_geoloc {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }
  
i:hover + div#info_geoloc {
    position: absolute;
    display: inline-block;
}

span#info_contact {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  background-color: lightblue;
  border: 1px solid cornflowerblue; 
}
  
i:hover + span#info_contact {
    position: absolute;
    display: inline-block;
  }
    
span#info_signataire {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }
  
i:hover + span#info_signataire {
    position: absolute;
    display: inline-block;
  }
  
div#info_zip {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }
  
i:hover + div#info_zip {
    position: absolute;
    display: inline-block;
  }
  
span#info_accord {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }
  
i:hover + span#info_accord {
    position: absolute;
    display: inline-block;
  }

div#info_type_dossier {
    position: absolute;
    z-index: 99;
    display: none;
    margin-top: 15px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }

i:hover + div#info_type_dossier {
    z-index: 99;
    position: absolute;
    display: inline-block;
}

div#info_reference_geoshop {
    display: none;
    margin-top: 15px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue; 
}

i:hover + div#info_reference_geoshop {
    position: absolute;
    display: inline-block;
}

div#info_soumission {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  background-color: lightblue;
  border: 1px solid cornflowerblue; 
}

i:hover + div#info_soumission {
  position: absolute;
  display: inline-block;
}

div#info_modification {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  background-color: lightblue;
  border: 1px solid cornflowerblue; 
}

i:hover + div#info_modification {
  position: absolute;
  display: inline-block;
}
