body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

div {
    padding: 5px;
}

div.entete {
    width: 100%;
    height: 80px;
    font-size: 36pt;
    font-weight: bold;
    color: white;
    text-align: right;
    background-color:lightseagreen ;
    border-bottom: 1 px solid grey;
}

.contenu{
    padding: 10px 5px 10px 5px;
}

li a {
    color: green;
}

.dj_map {
    width: 1000px;
    height: 500px;
    border: 1px solid darkgrey;
    clear: both;
}

#background-selector {
    position: absolute;
    z-index: 2;
    top: .5rem;
    left: 3.1em;
    height: 2.95rem;
    font-size: 1rem;
    padding: 0.7rem;
}

div#contact {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }
  
legend:hover + div#contact {
    position: absolute;
    display: inline-block;
  }

  div#info_type_dossier {
    display: none;
    margin-top: 15px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }

i:hover + div#info_type_dossier {
    position: absolute;
    display: inline-block;
}

div#info_reference_geoshop {
    display: none;
    margin-top: 15px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue; 
}

i:hover + div#info_reference_geoshop {
    position: absolute;
    display: inline-block;
}