body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}


div {
    padding: 5px;
}

div.entete {
    width: 100%;
    height: 80px;
    font-size: 36pt;
    font-weight: bold;
    color: white;
    text-align: left;
    background-color:lightseagreen ;
    border-bottom: 1 px solid grey;
}

li a {
    color: green;
}

.content{
    padding: 10px 5px 10px 5px;
}

.red {
    color: #990000;
}

.dj_map {
    width: 600px;
    height: 500px;
    border: 1px solid darkgrey;
    clear: both;
}

a:link#home {
    color: white !important;
    text-decoration: none !important;
}

a:visited#home {
    color: white !important;
    text-decoration: none !important;
}
a:hover#home {
    color: rgb(34, 210, 125);
  }
a:active#home {
    color: white;
  }

#background-selector {
    position: absolute;
    z-index: 2;
    top: .5rem;
    left: 3.1em;
    height: 2.95rem;
    font-size: 1rem;
    padding: 0.7rem;
}

div#info_contact {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  background-color: lightblue;
  border: 1px solid cornflowerblue; 
}
  
i:hover + div#info_contact {
    position: absolute;
    display: inline-block;
  }
    
div#info_signataire {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }
  
i:hover + div#info_signataire {
    position: absolute;
    display: inline-block;
  }
  
div#info_zip {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }
  
i:hover + div#info_zip {
    position: absolute;
    display: inline-block;
  }
  
div#info_accord {
    display: none;
    margin-left: 5px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }
  
i:hover + div#info_accord {
    position: absolute;
    display: inline-block;
  }

div#info_type_dossier {
    display: none;
    margin-top: 15px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue;
  }

i:hover + div#info_type_dossier {
    position: absolute;
    display: inline-block;
}

div#info_reference_geoshop {
    display: none;
    margin-top: 15px;
    margin-left: 3px;
    padding: 5px;
    font-size: small;
    background-color: lightblue;
    border: 1px solid cornflowerblue; 
}

i:hover + div#info_reference_geoshop {
    position: absolute;
    display: inline-block;
}

div#info_soumission {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  background-color: lightblue;
  border: 1px solid cornflowerblue; 
}

i:hover + div#info_soumission {
  position: absolute;
  display: inline-block;
}

div#info_modification {
  display: none;
  margin-top: 15px;
  margin-left: 3px;
  padding: 5px;
  font-size: small;
  background-color: lightblue;
  border: 1px solid cornflowerblue; 
}

i:hover + div#info_modification {
  position: absolute;
  display: inline-block;
}
