{% extends "email_base_template_fr-ch.html" %}
{% block content %}
Vous recevez cet email car vous avez demandé à apporter des modifications à vos informations.<br><br>

L'email entré lors de votre demande ne correspond pas à l'email saisi dans nos bases de données.<br><br>
Pour demander de l'aide, veuillez contacter:<br>
{% block contact %}
<strong>{{ company_name }}</strong><br>
{{ address_1 }}<br>
{{ address_2 }}<br>
{{ phone_number }}<br>
{{ email }}<br>
{% endblock %}<br><br>
{% endblock %}